{{! json loader 直接在json基础上加载mustache这样的东西，可以用一些函数什么的的 }}
[
{{#enemys}}
{
  "tag": "container",
  "props": {
    "x": {{x}},
    "y": {{y}},
  },
  "children": [
    {
      "tag": "text",
      "props": {
        "text": {{name}},
        "x": 0,
      }
    },
    {
      "tag": "text",
      "props": {
        "text": {{atk}},
        "x": 50
      }
    },
    {
      "tag": "text",
      "props": {
        "text": {{def}},
        "x": 120,
      }
    }
  ]
},
{{/enemys}}
]